
:root {
  --column-number: 10;
  --cell-size: 20px;
  --large-margin: 50px;
  --medium-margin: 20px;
  --small-margin: 10px;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-holder {
  border: 1px solid black;
  text-align: center;
  width: 300px;
  height: 50px;
  font-size: 50px;
}

.board-holder {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 220px;
  align-items: center;
  justify-content: space-around;
}

.board {
  display: grid;
  gap: 2px;
  background-color: black;
  width: min-content;
  height: min-content;
  margin: var(--medium-margin);
  grid-template-columns: repeat(var(--column-number), var(--cell-size));
  grid-template-rows: repeat(var(--column-number), var(--cell-size));
}

.cell {
  background-color: rgba(125, 125, 125, 0.8);
}

.cell:hover {
  background-color: blue;
}

.missed {
  background-color: white;
}

.hit {
  background-color: rgba(233, 83, 83, 0.8);
}

.sunk {
  background-color: red;
}

.fleet-holder, .label-holder {
  display: flex;
  justify-content: space-around;
}

.ship-holder {
  display: flex;
  width: min-content;
  height: min-content;
  flex-direction: column;
}

.ship-part {
  background-color: blue;
  width: var(--cell-size);
  height: var(--cell-size);
  margin: 1px;
}

/* tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  :root {
    --cell-size: 25px;
    --medium-margin: 40px;
  }
}

/* desktop */
@media only screen and (min-width: 961px) {
  :root {
    --cell-size: 30px;
    --medium-margin: 50px;
  }
}


